xcuserdata/

build/
.build/

.DS_Store

*.log
log/
logs/
Log/
Logs/

*.ipa

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

.png